@import url(base.css);

body {
    position: relative;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.app-title {
    display: inline-flex;
    gap: 1rem;
}

.search-field {
    position: relative;
    display: flex;
    flex-direction: row;
    width: calc(40% - 1rem);
}

#search-bar {
    width: 100%;
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
    border: 1px solid var(--color-border);
    border-right-width: 0;
    border-radius: 3rem;
}

#search-err-disp {
    position: absolute;
    width: 100%;
    padding: 0 1.2rem;
    bottom: -1rem;
    transform: translateY(100%);
    font-size: 1.2rem;
}

main {
    position: relative;
    width: 100%;
    min-height: 90vh;
}

.toggle-tray {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 2rem;
    margin-bottom: 2rem;
}

.toggle-1 {
    display: inline-flex;
    grid-column: 2 / 3;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
}

.reports {
    display: grid;
    position: relative;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: 1fr 1fr 1.15fr;
    gap: 2rem;
}

.report {
    border: 1px solid var(--color-border);
}

.report:first-child {
    padding: 2rem 4rem;
    border: none;
    background-color: inherit;
    color: inherit;
}

.report:nth-child(n+2) {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 2rem;
    border-color: var(--color-border);
    transition: border-color 0.4s ease-in-out;
}

.report:nth-child(n+2):hover {
    border-color: var(--color-tertiary);
}

.report-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.report-title > img {
    width: clamp(30px, 3.5rem, 40px);
    height: clamp(30px, 3.5rem, 40px);
    object-fit: cover;
    object-position: center;
}

.report-title > p {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-primary)
}

.pri-report {
    display: flex;
    flex-direction: row;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.sec-report {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.ap-report {
    grid-column: 4 / 6;
    grid-row: 1 / 3;
}

.fcst-report {
    grid-column: 1 / 6;
    grid-row: 3 / 4
}

/* NOTE: primary report */
.pri-left {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.pri-left div:first-child {
    height: 30%;
}

.location {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 2;
}

.wx-condition {
    font-size: 1.6rem;
}

.pri-left div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 70%;
}

.wx-temp {
    font-size: 6.4rem;
    font-weight: 700;
}

.pri-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.wx-icon {
    width: clamp(100px, 12rem, 150px);
    height: clamp(100px, 12rem, 150px);
    object-fit: cover;
    object-position: center;
}

/* NOTE: secondary report */
.wx-conditions {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, 1fr);
    flex-grow: 1;
    padding-top: 2rem;
    row-gap: 1rem;
}

.wx-cond {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    font-size: 1.6rem;
    gap: 1rem;
}

.wx-cond > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    gap: 1rem;
}

.wx-cond-icon {
    width: clamp(20px, 3rem, 40px);
    height: clamp(20px, 3rem, 40px);
    object-fit: cover;
    object-position: center;
}

/* NOTE: air pollution report */
.ap-data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}

.ap-aqi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25%;
    margin: 1rem 0;
    gap: 1rem;
    font-size: 1.6rem;
}

.aqi-value {
    padding: 0.5rem;
    padding-top: 0;
    font-weight: 700;
}

.ap-pollut {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    flex-grow: 1;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.4rem;
}

.ap-pollut > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.6rem;
}

.ap-pollut > div > p:first-child {
    width: 60%;
    padding-left: 1rem;
    border-left: 2px solid var(--color-border);
}

.ap-pollut > div > p:last-child {
    flex-grow: 1;
    text-align: end;
}

/* NOTE: forecast report */
.fcst-pts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding-top: 2rem;
}

.fcst-pt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
    border-left: 2px dashed var(--color-border);
    gap: 2rem;
}

.fcst-pt:first-child {
    border-left: none;
}

.fcst-time {
    font-size: 1.4rem;
    text-align: center;
}

.fcst-icon {
    width: clamp(60px, 6.8rem, 80px);
    height: clamp(60px, 6.8rem, 80px);
    object-fit: cover;
    object-position: center;
}

.fcst-pt-dets {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

.fcst-desc {
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
}

.fcst-temp {
    font-size: 1.6rem;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: clamp(20px, 2rem, 2vh);
    padding: 1vh 1%;
    border: 1px dashed var(--color-border);
    border-bottom: none;
    background-color: var(--color-surface1);
    font-size: 1.2rem;
}

footer > * {
    display: flex;
    width: fit-content;
}